// ImtPN (Stetienne)
// Bootswatch

//
// Color system
//

// General layout settings

@import '../../imtpn/scss/abstracts/colors';
$primary: $imt-stetienne-primary;
$secondary: $imt-stetienne-secondary;
//$app-gray-1: #84898A;
@import "../../imtpn/scss/pre";
.navbar__logo {
  height: 80px !important;
}